numpy<1.23.0
certifi>=2022.12.7
configobj
configparser
future
httplib2
kiwisolver
matplotlib<3.9
numpy
opencv-contrib-python
pdfplumber
PyMuPDF==1.24.9
rdflib
requests
cairosvg
tqdm
setuptools<81
psutil
colour_science==0.4.0
