<header class="navbar" aria-labelledby="university-name">
  <div class="navbar-title container"> 
    <!-- Hamburger Button -->
    <button class="btn btn-link text-white" id="sidebarToggle" type="button">
        <!-- <i class="fas fa-bars"></i>  -->
        <img style="width:2rem" src="{{urlprefix}}/static/images/hamburger.svg">&nbsp;</img>
    </button>
    <h1 id="site-title">
      <a href="{{urlprefix}}/" class="site-name">
         Glycan Image Extractor
      </a>
    </h1>
  </div>
</header>