<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'head.html' %}
        {% include 'ganalytics.html' %}
        {% block onload %}<script>function onload() {;}</script>{% endblock %}
        {% block head %}<!-- page specific header material -->{% endblock %}
    </head>
    <body onload="onload();" class="home page-template-default page page-id-2 wp-embed-responsive">
        <div id="site-wrapper">
            <div id="site-canvas">
                {% include 'banner.html' %}

                <!-- Left Sidebar -->
                {% include 'sidebar.html' %}


                <div id="main-content" style="margin-top: 20px;">
                    <main>
                      <section class="container" aria-label="Primary content">
                        {% block content %}{% endblock %}
                      </section>
                    </main>
                </div>
                {% include 'foot.html' %}
            </div>
        </div>
    </body>
</html>
