<!DOCTYPE html>
<html class="js" lang="en-US"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Glycan Image Extractor</title>
<link rel="stylesheet" id="wp-block-library-css" href="static/css/style.min.css" type="text/css" media="all">
<link rel="stylesheet" id="pantheon-google-map-block-css-css" href="static/css/style.836e5da587e9ec9692c0.css" type="text/css" media="all">
<link rel="stylesheet" id="gu-whnu-typekit-css" href="static/css/dtf4tpd.css" type="text/css" media="all">
<link rel="stylesheet" id="gu-whnu-screen-css" href="static/css/screen.css" type="text/css" media="screen">
<script src="static/js/jquery-3.5.1.min.js"></script>
</head>
<body class="home page-template-default page page-id-2 wp-embed-responsive">
  <div id="site-wrapper">
    <div class="site-overlay"></div>
      <div id="site-canvas">
        <header class="navbar" aria-labelledby="university-name">
          <div class="navbar-title container clearfix">
            <h1 id="site-title">
              <a href="." class="site-name">
                GLYCAN IMAGE EXTRACTOR
              </a>
            </h1>
          </div>
          <div class="navbar-bottom">
            <div class="container">
              <nav class="menu" id="top-menu-links" aria-label="Top level navigation">
                <ul id="menu-main-navigation" class="nav navbar-nav">
                  <li class="nav-item"><a href="." class="nav-link">Home</a></li>
                  <li class="nav-item"><a href="abstract" class="nav-link">Abstract</a></li>
                  <li class="nav-item"><a href="examples" class="nav-link">Examples</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </header>
        <div class="clearfix" id="main-content">
          <main>
            <section class="container primary-body" aria-label="Primary content">

