<!DOCTYPE html>
<html class="js" lang="en-US">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Glycan Image Extractor</title>
  <link rel="stylesheet" id="wp-block-library-css" href="static/css/style.min.css" type="text/css" media="all">
  <link rel="stylesheet" id="pantheon-google-map-block-css-css" href="static/css/style.836e5da587e9ec9692c0.css" type="text/css" media="all">
  <link rel="stylesheet" id="gu-whnu-typekit-css" href="static/css/dtf4tpd.css" type="text/css" media="all">
  <link rel="stylesheet" id="gu-whnu-screen-css" href="static/css/screen.css" type="text/css" media="screen">

  <link rel="stylesheet" href="static/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="static/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">


  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->


  <script src="static/js/jquery-3.5.1.min.js"></script>
</head>
<body class="home page-template-default page page-id-2 wp-embed-responsive">
  <div id="site-wrapper">
    <div class="site-overlay"></div>
      <div id="site-canvas">
        <header class="navbar" aria-labelledby="university-name">
          <div class="navbar-title container clearfix">
            <h1 id="site-title">
              <a href="." class="site-name">
                GLYCAN IMAGE EXTRACTOR
              </a>
            </h1>
          </div>
        </header>
        <div id="main-content">
          <main>
            <section class="container" aria-label="Primary content">
            </section>
          </main>
        </div>
      </div>
    </div>

    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    <script>
      function adjustMainPadding() {
        const header = document.querySelector('header');
        const main = document.querySelector('main');
    
        if (header && main) {
          let headerHeight = header.offsetHeight;
    
          // Optional tweak: reduce padding on large screens
          if (window.innerWidth > 1200) {
            headerHeight = headerHeight - 70; // Reduce by 70px on large screens
          } else if (window.innerWidth > 768) {
            headerHeight = headerHeight - 20; // Slightly reduce on medium screens
          }
    
          // main.style.paddingTop = headerHeight + 'px';
          main.style.paddingTop = 0 + 'px';
        }
      }
    
      window.addEventListener('load', adjustMainPadding);
      window.addEventListener('resize', adjustMainPadding);
    </script>
    


  </body>
  
</html>

