{% extends "base.html" %}

{% block head %}
<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll('.card-redirect').forEach(card => {
      card.addEventListener("click", () => {
        const url = card.getAttribute("data-url");
        const type = card.getAttribute("data-type");

        if (type) {
          window.location = `${url}?type=${type}`;
        } else {
          window.location = url;
        }
      });
    });
  });
</script>

{% endblock %}

{% block content %}
<div class="container-fluid d-flex flex-column">
  <!-- 
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>
  -->

  <div class="card-grid">
    <div class="card m-3 card-redirect" data-url="{{urlprefix}}/process" data-type="Manuscript">
      <div class="card-body">
        <!-- <i class="fa-regular fa-file-pdf"></i> -->
        <img src="{{urlprefix}}/static/images/pdf.svg" alt="Manuscript" class="card-icon">
        <h5 class="card-title">Manuscript</h5>
        <p class="card-text">Extract glycan structures from research paper figures</p>
      </div>
    </div>

    <div class="card m-3 card-redirect" data-url="{{urlprefix}}/process" data-type="Multi-Glycan Image">
      <div class="card-body">
        <!-- <i class="fa-regular fa-images"></i> -->
        <img src="{{urlprefix}}/static/images/multi-image.svg" alt="Multi-Glycan Image" class="card-icon">
        <h5 class="card-title">Multi-Glycan Image</h5>
        <p class="card-text">Process images containing multiple glycans</p>
      </div>
    </div>

    <div class="card m-3 card-redirect" data-url="{{urlprefix}}/process" data-type="Simple Glycan Image">
      <div class="card-body">
        <!-- <i class="fa-regular fa-image"></i> -->
        <img src="{{urlprefix}}/static/images/single-image.svg" alt="Simple Glycan Image" class="card-icon">
        <h5 class="card-title">Simple Glycan Image</h5>
        <p class="card-text">Analyze simple glycan images<br>&nbsp;</p>
      </div>
    </div>
  </div>

  <!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Other</li>
    </ol>
  </nav> -->

  <div class="card-grid">
    <div class="card m-3 card-redirect" data-url="{{urlprefix}}/jobs">
      <div class="card-body">
        <!-- <i class="fas fa-tasks"></i> -->
        <img src="{{urlprefix}}/static/images/results.svg" alt="Results" class="card-icon">
        <h5 class="card-title">Results</h5>
        <p class="card-text">Previously submitted jobs<br>&nbsp;</p>
      </div>
    </div>

    <div class="card m-3 card-redirect" data-url="{{urlprefix}}/examples">
      <div class="card-body">
        <!-- <i class="fa-solid fa-check"></i> -->
        <img src="{{urlprefix}}/static/images/examples.svg" alt="Examples" class="card-icon">
        <h5 class="card-title">Examples</h5>
        <p class="card-text"><span>&nbsp;<br>&nbsp;</span></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
